{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://294.cyrotech.ch","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/products/{id}":{"get":{"tags":["product-controller"],"operationId":"getProductById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDetailDto"}}}}}},"put":{"tags":["product-controller"],"operationId":"updateProductById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDetailDto"}}}}}},"delete":{"tags":["product-controller"],"operationId":"deleteProductById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/categories/{id}":{"get":{"tags":["category-controller"],"operationId":"getCategoryById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDetailDto"}}}}}},"put":{"tags":["category-controller"],"operationId":"updateCategoryById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryUpdateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDetailDto"}}}}}},"delete":{"tags":["category-controller"],"operationId":"deleteCategoryById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/users/{id}/promote":{"post":{"tags":["user-controller"],"operationId":"promoteUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoteResponse"}}}}}}},"/users/register":{"post":{"tags":["user-controller"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/users/register-without-admin":{"post":{"tags":["user-controller"],"operationId":"registerWithoutAdminRights","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/users/login":{"post":{"tags":["user-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenWrapper"}}}}}}},"/products":{"get":{"tags":["product-controller"],"operationId":"getAllProducts","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductShowDto"}}}}}}},"post":{"tags":["product-controller"],"operationId":"createProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCreateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDetailDto"}}}}}}},"/categories":{"get":{"tags":["category-controller"],"operationId":"getAllCategories","parameters":[{"name":"showDisabled","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryShowDto"}}}}}}},"post":{"tags":["category-controller"],"operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryCreateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDetailDto"}}}}}}},"/users":{"get":{"tags":["user-controller"],"operationId":"getAllUsers","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserShowDto"}}}}}}}}},"components":{"schemas":{"ProductUpdateDto":{"required":["active","description","image","name","price","sku","stock"],"type":"object","properties":{"sku":{"type":"string"},"active":{"type":"boolean"},"name":{"type":"string"},"image":{"type":"string"},"description":{"type":"string"},"price":{"type":"number","format":"float"},"stock":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"}}},"CategoryShowDto":{"required":["id","name"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"ProductDetailDto":{"required":["active","description","id","image","name","price","sku","stock"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sku":{"type":"string"},"active":{"type":"boolean"},"name":{"type":"string"},"image":{"type":"string"},"description":{"type":"string"},"price":{"type":"number","format":"float"},"stock":{"type":"integer","format":"int32"},"category":{"$ref":"#/components/schemas/CategoryShowDto"}}},"CategoryUpdateDto":{"required":["active","name"],"type":"object","properties":{"active":{"type":"boolean"},"name":{"type":"string"}}},"CategoryDetailDto":{"required":["active","id","name","products"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"active":{"type":"boolean"},"name":{"type":"string"},"products":{"type":"array","items":{"$ref":"#/components/schemas/ProductShowDto"}}}},"ProductShowDto":{"required":["id","image","name","price","sku","stock"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sku":{"type":"string"},"name":{"type":"string"},"image":{"type":"string"},"price":{"type":"number","format":"float"},"stock":{"type":"integer","format":"int32"}}},"PromoteResponse":{"type":"object","properties":{"response":{"type":"string"}}},"RegisterDto":{"required":["city","country","email","firstName","lastName","password","street","zip"],"type":"object","properties":{"firstName":{"maxLength":255,"minLength":2,"type":"string"},"lastName":{"maxLength":255,"minLength":2,"type":"string"},"street":{"maxLength":255,"minLength":2,"type":"string"},"zip":{"maxLength":10,"minLength":4,"type":"string"},"city":{"maxLength":255,"minLength":2,"type":"string"},"country":{"maxLength":2,"minLength":2,"type":"string"},"phone":{"maxLength":15,"minLength":0,"type":"string"},"mobilePhone":{"maxLength":15,"minLength":0,"type":"string"},"email":{"type":"string"},"password":{"maxLength":2147483647,"minLength":8,"pattern":"^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$","type":"string"}}},"LoginRequestDto":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"TokenWrapper":{"type":"object","properties":{"token":{"type":"string"}}},"ProductCreateDto":{"required":["active","description","image","name","price","sku","stock"],"type":"object","properties":{"sku":{"type":"string"},"active":{"type":"boolean"},"name":{"type":"string"},"image":{"type":"string"},"description":{"type":"string"},"price":{"type":"number","format":"float"},"stock":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"}}},"CategoryCreateDto":{"required":["active","name"],"type":"object","properties":{"active":{"type":"boolean"},"name":{"type":"string"}}},"UserShowDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"firstName":{"type":"string"},"lastName":{"type":"string"},"street":{"type":"string"},"zip":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"phone":{"type":"string"},"mobilePhone":{"type":"string"},"email":{"type":"string"},"isAdmin":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}