.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  color: white;

  mat-card {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: anywhere;
  }
}
