<h1>Produkte</h1>
<!-- Products grid -->
<mat-grid-list *ngIf="!loading && !error" cols="3" gutterSize="16" rowHeight="350px">
  <mat-grid-tile *ngFor="let product of products" class="product-tile">
    <mat-card class="product-card" appearance="outlined" [routerLink]="['/products', product.id]" style="cursor: pointer;">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
      </mat-card-header>

      <img mat-card-image [src]="product.image" [alt]="product.name"
           onerror="this.src = '/assets/dotdotdot.png'">
      <!-- https://stackoverflow.com/questions/36026428/angular2-show-placeholder-image-if-img-src-is-not-valid-->

      <mat-card-content>
        <p class="price" *ngIf="product.price">{{ product.price}} CHF</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
