<mat-toolbar color="primary">
  <span>Product Manager</span>

  <span class="spacer"></span>

  <!-- Dropdown-Menü -->
  <button mat-button [matMenuTriggerFor]="categoriesMenu">
    Categories
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #categoriesMenu="matMenu">
    <button mat-menu-item routerLink="/categories/list">
      <mat-icon>list</mat-icon>
      <span>List</span>
    </button>
    <button mat-menu-item routerLink="/categories/create">
      <mat-icon>add</mat-icon>
      <span>Create</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- Hier wird der Seiteninhalt geladen -->
<router-outlet></router-outlet>
